<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link href="/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
	<head>
        <title>404</title>
	</head>
	<body>
        <div class="mitesh">404</div>
    </body>
</html>