<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter your email to subscribe...">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="social-links">
                    <a href="https://www.facebook.com/MEETPOKAR4"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/MPokar"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/miteshpokar/"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/mpokar"><i class="fa fa-github-alt"></i></a>
                </div>
            </div>
        </div>

        <p class="colophon"></p>
    </div>
</footer> <!-- .site-footer -->